.bar
  overflow-y: auto
  display: flex
  flex-direction: column
  padding: 1rem
  height: 410vh // Adjusted height to 4 * 101vh

.hap
  display: flex
  flex-direction: column
  overflow-y: auto

.section
  height: 100vh
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  font-size: 2rem

/* To hide the step connector lines */
.css-1deaddp-MuiStepConnector-line
  display: none !important
